.calendar-container {
    width: 90%;
    max-width: 1000px;
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 50px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header h2 {
    margin: 0;
    font-size: 28px;
    color: #888888;
}

.prev-month, .next-month {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 80px);
    gap: 15px;
    width: 100%;
}

.day, .date, .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    width: 100%;
    height: 100%;
}

.day {
    font-weight: bold;
    color: #888888;
}

.date {
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.date:hover {
    background-color: #e0e0e0;
}

.selected {
    background-color: #8888ff;
    color: white;
    border: 2px solid #444;
}

.logout-button {
    display: block;
    width: 66.67%; /* 1.5배 줄이기 위해 2/3 크기로 설정 */
    background-color: #444;
    color: white;
    border: none;
    padding: 13px 0; /* 1.5배 줄이기 위해 15px에서 10px로 변경 */
    cursor: pointer;
    border-radius: 5px;
    margin: 20px auto 0; /* 버튼을 중앙에 배치하기 위해 margin 설정 */
    font-size: 15px; /* 1.5배 줄이기 위해 18px에서 12px로 변경 */
    text-align: center; /* 텍스트를 중앙에 정렬 */
}

.logout-button:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {
    .calendar-container {
        padding: 20px;
    }
    .calendar-header h2 {
        font-size: 22px;
    }
    .day, .date, .empty {
        font-size: 16px;
        height: 60px;
    }
    .prev-month, .next-month {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .calendar-container {
        padding: 10px;
    }
    .calendar-header h2 {
        font-size: 20px;
    }
    .day, .date, .empty {
        font-size: 14px;
        height: 50px;
    }
    .prev-month, .next-month {
        font-size: 16px;
    }
}










